
.bad-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  .bad-connection p {
    margin-top: 20px;
    font-size: 1.2em;
    margin-left: 20px;
    color: #a50000;
  }
