@import url('./bad-connection.css');
@import url('./empty-data.css');
@import url('./weather.css');

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

#hamburgerButton {
  min-height: 44px;
  min-width: 44px;
  color: #f0f4f8;
}
.app-bar {
  padding: 8px 16px;
  background-color:steelblue;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color:steelblue;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 5px;
  width: 100%;
  min-height: 44px;
  min-width: 44px;
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}


/*
  Footer
*/

footer {
  padding: 16px;
  background-color: steelblue;
}

footer p {
  text-align: center;
  color: aliceblue;
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: aliceblue;
}

.text-container {
  margin-bottom: 20px;
}

.text-container h1 {
  font-size: 2em;
  margin: 0;
}

.text-container p {
  font-size: 1.2em;
  margin: 10px 0;
}

.forum-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color:aqua;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color:aquamarine;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  min-width: 44px;
  min-height: 44px;
}

.cta:hover {
  background-color: aquamarine;
}

.favbutton {
  min-width: 44px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border: 1;
  border-color: #fff;
  border-radius: 5%;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}