@import url('./bad-connection.css');
@import url('./empty-data.css');
@import url('./weather.css');
@import url('./news.css');
@import url('./report.css');

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/


#hamburgerButton {
  min-height: 44px;
  min-width: 44px;
  color: white;
}
.app-bar {
  padding: 8px 16px;
  background-color: #1C2D3C;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: rgb(52, 216, 231);
  font-size: 22px;
  font-weight: bold;
  user-select: none;
}
.app-bar .app-bar__brand img {
  width: 50px;
  margin-right: 10px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #1C2D3C;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 44px;
  min-width: 44px;
}

/*
  Main Content
*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mid_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 2rem;
  padding: 2rem;
}

.mid_content h1{
  text-align: center;
  font-size: 2.5rem;
  color: #1C2D3C;
  line-height: 3rem;
}

.mid_content p{
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
  line-height: 2.3rem;
  margin-top: 1rem;
}

.education_one{
  min-width: 600px;
  margin-right: 2rem;
}

.main_education{
  margin-top: 2rem;
  background-color: #EAF2F9;
  text-align: center;
  padding: 2rem;
}

.main_education h1{
  text-align: center;
  font-size: 2.5rem;
  color: #1C2D3C;
  line-height: 3rem;
}

.main_education p{
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
  line-height: 2.3rem;
  margin-top: 1rem;
}

.main_education a{
  padding: 0.8rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 999px;
    background-color: #53CB8E;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
    inline-size: 12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: all 0.15s ease-in;
    line-height: 1rem;
    margin-left: 45%;
    text-decoration: none;
    margin-top: 1rem;
}

.main_education a:hover{
  background-color: #0d2e1d;
  color: white;
  border: 2px solid #0d2e1d;
}

.separator {
  display : grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 2rem;
  padding: 2rem;
}

.indicator_info{
  text-align: center;
  background-color: #beecd5 ;
  padding: 2rem;
  border-radius: 20px;
  margin-right: 2rem;
}

.indicator_info h1{
  text-align: center;
  font-size: 2.5rem;
  color: #1C2D3C;
  line-height: 3rem;
}

.indicator_info h2{
  text-align: center;
  font-size: 1.8rem;
  color: #1C2D3C;
  line-height: 3rem;
  margin-top: 1rem;
}

.indicator_info p{
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
  line-height: 2rem;
  margin-top: 1rem;
}

.last_content{
  margin-left: 2rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
  background-color: #EAF2F9;
  border-radius: 20px;
}

.last_content h1{
  text-align: center;
  font-size: 2.5rem;
  color: #1C2D3C;
  line-height: 3.2rem;
  margin-top: 4rem;
}

.last_content a{
  padding: 0.8rem 2.5rem;
  border: 2px solid transparent;
  border-radius: 999px;
  background-color: #53CB8E;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  cursor: pointer;
  inline-size: 12rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  transition: all 0.15s ease-in;
  line-height: 1rem;
  margin-left: 40%;
  text-decoration: none;
  margin-top: 1rem;
}

.last_content1 a:hover{
  background-color: #0d2e1d;
  color: white;
  border: 2px solid #0d2e1d;
}

/*
  Footer
*/

footer {
  margin-top: 3rem;
  text-align: center;
  background-color: #1C2D3C;
}

footer img {
  max-width: 200px; 
  max-height: 100px;
}


.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #EAF2F9;
  margin-top: 2rem;
  padding: 4rem 2rem;
  gap: 10%;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.image-container img{
  width: 100px;
  height: 100px;
}

.text-container {
  margin-bottom: 20px;
}

.text-container h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  color: #4D4D4D;
}

.text-container h2 {
  margin-block: 1rem;
    font-size: 3rem;
    color: #53CB8E;
}

.forum-button {
  padding: 0.8rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 999px;
    background-color: #53CB8E;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
    inline-size: 12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: all 0.15s ease-in;
    line-height: 1rem;
    margin-left: 35%;
    text-decoration: none;
}

.forum-button:hover {
  background-color: #82e5b2;
  color: rgba(220, 8, 8, 0.958);
  border: 2px solid #0d2e1d;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  align-items: center;
  text-align: center;
}

.image-container h2 {
  margin-block: 1rem;
    font-size: 3rem;
    color: #53CB8E;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color:aqua;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color:aquamarine;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  min-width: 44px;
  min-height: 44px;
}

.cta:hover {
  background-color: aquamarine;
}

.favbutton {
  min-width: 44px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border: 1;
  border-color: #fff;
  border-radius: 5%;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}


.fab {
  position: fixed;
  top: 70px; /* Adjust this value to leave 10px margin below the app bar */
  right: 16px;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  padding: 12px;
  box-sizing: content-box;
}


.fab:hover {
  background-color: #412b76;
}

.swal2-popup {
  width: auto !important;
}

#swal-map {
  height: 400px;
  width: 100%;
}