
body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#openFormButton {
    background-color: #007bff; /* Warna biru */
    color: white; /* Warna teks putih */
    padding: 10px 20px; /* Padding untuk ukuran tombol */
    border: none; /* Hilangkan border default */
    border-radius: 25px; /* Membuat sudut melengkung */
    cursor: pointer; /* Menambahkan pointer pada hover */
    font-size: 16px; /* Ukuran font */
}

#openFormButton:hover {
    background-color: #0056b3; /* Warna biru lebih gelap saat dihover */
}

.swal-content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
}

.swal-content-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.swal-content-container input,
.swal-content-container textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

#swal-map {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.swal2-container .swal2-html-container {
    text-align: left;
    max-height: none;
    overflow: visible;
}

.swal2-popup {
    width: 600px !important;
}
.first-content {
    text-align: center;
    align-items: center;
    padding: 1.5rem;
}

.first-content {
    width: 100%;
    margin-bottom: 20px;
}

.first-content h1 {
    display: flex;
    color: #1C2D3C;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    margin-left: 8rem;
    margin-top: 1.5rem;
}

.first-content h2 {
    color: #53CB8E;
    font-size: 3rem;
    margin-bottom: 0;
}

.aside {
    margin-top: 10px;
    width: 30%; /* Adjust width as needed */
    display: flex;
    flex: 1;
    flex-direction: column;
}

.aside .button-content {
    margin-bottom: 20px;
    background-color: #2447F9;
    padding: 5%;
    border: 2px solid transparent;
    border-radius: 999px;
    cursor: pointer;
    inline-size: 30rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: all 0.15s ease-in;
    margin-left: 3rem;
    font-size: 1.3rem;
}

.mainContent {
    display: flex;
    gap: 20px; /* Atur jarak antara kedua bagian */
}

.right-side {
    width: 70%; 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 70px;
    flex: 3;
}

/* Styles for discussion section */
.discussion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.discussion a {
    text-decoration: none;
    color: #000;
}

.discussion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.discussion-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.user-name {
    font-weight: bold;
}
.post-time {
    color: #888;
    font-size: 0.9em;
}
.discussion-content {
    margin-top: 20px;
}
.discussion-content .author {
    font-weight: bold;
}
.fa-comment {
    margin-right: 5px;
}
.discussion-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    color: #888;
}

.container-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.report, .comments {
    margin-bottom: 20px;
}
.report-item, .comment-item {
    margin-bottom: 10px;
}
.report-item strong, .comment-item strong {
    display: inline-block;
    width: 150px;
}
.comments h3 {
    margin-top: 0;
}
#map {
    height: 400px;
    margin-top: 20px;
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .first-content h1 {
        line-height: normal;
        margin-left: 0;
    }
    .first-content h2 {
        margin-left: 0;
    }
    .aside{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .right-side {
        width: 95%; /* Konten utama mengambil lebar penuh */
        margin-right: 0;
    }
    input[type="text" i] {
        margin-left: 10px;
        width: 95%;
        padding-block: 1px;
        padding-inline: 2px;
    }
}

@media (max-width: 992px) {
    
    .mainContent {
        flex-direction: column;
    }

    .first-content h1 {
        line-height: normal;
    }

    .aside {
        width: 100%; /* Sidebar mengambil lebar penuh */
        margin-top: 0
    }
    .aside .button-content {
        margin-left: 35%;
        padding: 3%;
    }

    .right-side {
        width: 95%; /* Konten utama mengambil lebar penuh */
        margin-right: 0;
    }
    input[type="text" i] {
        margin-left: 10px;
        width: 95%;
        padding-block: 1px;
        padding-inline: 2px;
    }
}
@media (max-width: 650px) {
    .first-content h1 {
        text-align: center;
        margin-left: 0%;
    }
    .aside{
        margin-left: -5%;
    }
    .aside .button-content {
        margin-left: 30%;
        padding: 3%;
    }

}
@media (max-width: 500px) {
    body {
        height: 100%;
        font-size: 14px
    }

    header.navbar-container {
        flex-direction: column;
        height: auto;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        width: 100%;
        padding: 0.5rem;
    }
    .nav-list ul {
        padding: 0;
        text-align: center;
    }
    .nav-list li {
        display: block;
        margin: 10px 0;
    }
    
    header.navbar-container .logo {
        margin-right: 0;
        margin-bottom: 0.5rem;
        align-items: center;
        text-align: center;
        margin-bottom: 0    ;
    }
    
    header.navbar-container .logo img {
        width: 40%;
        margin: 0 auto; /* Center the logo horizontally */
        align-items: center;
    }
    
    header.navbar-container .nav-list ul {
        width: 100%; /* Full width to utilize the space */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the navigation items horizontally */
        gap: 0.5rem;
    }
    
    header.navbar-container .nav-list li {
        width: 100%; /* Full width to align with the parent */
        display: flex;
        justify-content: center; /* Center the links */
    }
    .aside{
        margin-left: -10%;
    }
    .aside .button-content {
        margin-left: 20%;
        padding: 3%;
    }
    .filter-content{
        margin-left: 17%;
    }
    .first-content h2 {
        margin-left: 0;
        font-size: 2rem;
        margin-bottom: 0;
    }
    .first-content h1{
        margin-left: 0;
        font-size: 2.6rem;
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 3.5rem;
    }
}


.review__form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.review__form h3 {
    margin-top: 0;
    color: #ff0000;
    text-align: center;
}

.review__form .form__section {
    margin-bottom: 20px;
}

.review__form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.review__form input[type="text"],
.review__form textarea {
    width: 100%;
    padding: 10px;
    min-height: 44px;
    min-width: 44px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.review__form input[type="text"]:focus,
.review__form textarea:focus {
    border-color: #ff0000;
    outline: none;
}

.review__form textarea {
    resize: vertical;
    height: 100px;
}

.review__form button[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    min-height: 44px;
    min-width: 44px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review__form button[type="submit"]:hover {
    background-color: #cc0000;
}

