@media screen and (min-width: 900px) {
  .mid_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 2rem;
  padding: 2rem;
  }
  .main_education a{
    margin-left: 43%;
  }
  .last_content a {
    margin-left: 43%;
  }
  .forum-button{
    margin-left: 33%;
  }
}
@media screen and (max-width: 1200px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  .weather-card{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .main_education a{
    margin-left: 41%;
  }
  .last_content a {
    margin-left: 41%;
  }   
  .forum-button{
    margin-left: 33%;
  }
}
@media screen and (max-width: 900px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  .weather-card{
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .education_one{
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .main_education a{
    margin-left: 38%;
  }
  .last_content a {
    margin-left: 38%;
  }
  .forum-button{
    margin-left: 18%;
  }
}

@media screen and (max-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
  .mid_content h1 {
    margin-top: 2rem;
  }
  .main_education a{
    margin-left: 32%;
  }
  .last_content a {
    margin-left: 32%;
  }
  .forum-button{
    margin-left: 65%;
  }
  .weather-card{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}


@media screen and (max-width: 500px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
  .mid_content h1 {
    margin-top: 1rem;
  }
  .main_education a{
    margin-left: 32%;
  }
  .last_content a {
    margin-left: 32%;
  }
  .forum-button{
    margin-left: 65%;
  }
  .weather-card{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

